<div class="createPostContainer">
                     <button ng-click="createThreadToggle=!createThreadToggle">Create New Thread</button>
                <form class="newThreadFormnew" ng-hide="createThreadToggle">
                    <input class="form-control" placeholder="Title" ng-model="newThread.title">
                    <input class="form-control" placeholder="Vehicle Year" ng-model="newThread.vehicle_year">
                    <input class="form-control" placeholder="Vehicle Make" ng-model="newThread.vehicle_make">
                    <input class="form-control" placeholder="Vehicle Model" ng-model="newThread.vehicle_model">
                    <textarea class="form-control" placeholder="Text here..." ng-model="newThread.thread_text"></textarea>
                    <button ng-click="createThread(newThread)">Submit Thread</button>
                </div>
             