<div class="homeContainer">
    <div class="loginContainer">
            <input type="text" ng-model="user.email" placeholder="Email"> <input type="password" ng-model="user.password" placeholder="Password"> 
            <button ng-click="logUserIn(user)">Login</button>
        </div>
    <div class="welcomeContainer"> 
        <h1 class="welcome">Welcome To Gearhead Collective!</h1>
       <div class="signUpContainer">
           <sign-up></sign-up>
       </div> 
        <div class="spaceFiller"></div>
    </div>
    
</div>

