<div class="homeContainer">
    <div class="welcomeContainer"> 
        <h1 class="welcome">Welcome To Gearhead Collective!</h1>
        
       <div class="signUpContainer">
           <sign-up></sign-up>
       </div> 
    <div class="loginBox">
        <form>
            <h2>Log in</h2>
            <br>
                <label>Email</label>
                <br>
                <input ng-model="user.email" type="text" placeholder="Email" autofocus>
                <br>
                <label>Password</label>
                <br>
                <input ng-model="user.password" type="password" placeholder="Password">
                <br>
                <button ng-click="logUserIn(user)">Submit</button>
            </form>
            <br>
            <label>Not a member?</label>
            <button ng-click="openSignUpModal()">Create New Character</button>
        </div>
        <div class="spaceFiller"></div>
    </div>
    
</div>

