<div class="contentBox">
    <h1 class="threadTitle">Threads</h1>
    <div class="threadsContainer">      
        <div class="forumNav">
            <create-thread></create-thread>
            <div class="forumNavButtons">
                <button ng-click="advancedSearch=!advancedSearch">Search</button>
                <form ng-hide="advancedSearch">
                    <input class="form-control" placeholder="Search Threads" ng-model="search">         
                </form>
            </div>
        </div>
        <div class="threadCard" ng-repeat="thread in threads | filter: search">
            <div class="threadHeader">
                <a ng-href="#/forum/thread/{{thread._id}}"><h2>{{ thread.title }}</h2></a>
                <h4>{{ thread.created_by.first_name }} {{ thread.created_by.last_name }}</h4>
                <h4>{{ thread.job_category }}</h4>
                <h4>{{ thread.system_category }}</h4> {{ thread.vehicle_year }} {{ thread.vehicle_make }}, {{ thread.vehicle_model }}
            </div>
            <hr>
            <div class="originalPost">
                {{ thread.thread_text }}
            </div>
        </div>
    </div>

</div>

